{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Dominio | Titulo pagina {% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}"/>

        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static boot %}">

        {% block head %}
        {% endblock %}
    </head>

    <body>
        {% include "navbar.html" %}

        <div class="container-fluid" style="min-height: 90vh; background-image: url(http://thepatternlibrary.com/img/ao.gif); padding-top: 10px">
            {% block content %}
            {% endblock %}
        </div>

        {% include "footer.html" %}

        <!-- All that javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

        {% block scripts %}
        {% endblock %}
    </body>
</html>