{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Dominio | Titulo pagina {% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}"/>

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    {% block head %}
    {% endblock %}
    {% block environment %}
    {% endblock %}
</head>

<body>
{% include "navbar.html" %}

<div class="container-fluid flex-wrap row"
     style="min-height: 90vh; background-image: url(http://thepatternlibrary.com/img/ao.gif); padding-top: 10px">
    <div id="content-div" class="col-12">
        {% block content %}
        {% endblock %}
    </div>
    <div class="col-3">
        {% include "right-panel.html" %}
    </div>

</div>

{% include "footer.html" %}

<!-- All that javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<!-- Device info -->
<script>
    function insert_device_info(tag, value) {
        $("#panel_device_info").append('' +
            '<div class="input-group input-group-sm mb-3">\n' +
            '    <div class="input-group-prepend">\n' +
            '        <span class="input-group-text">' +
            tag +
            '        </span>\n' +
            '    </div>\n' +
            '    <span type="text" class="form-control _name non-editable">\n' +
            value +
            '    </span>\n' +
            '</div>'
        );
    }

    function update_panel_device_info(id) {
        document.getElementById("panel_device_info").innerHTML = "";
        insert_device_info('Device Name', devices[id].desc_data.dp_desc);
        insert_device_info('Software', devices[id].desc_data.sw_desc);
        insert_device_info('Hardware', devices[id].desc_data.hw_desc);
        insert_device_info('Manufacturer', devices[id].desc_data.mfr_desc);
        insert_device_info('Serial Number', devices[id].desc_data.serial_num);
    }

</script>
<script>
    hideDetailPanel();
    let on_screen = -1;

    $("#detail-panel .close").click(function () {
        hideDetailPanel();
    });

    $(".device-card").click(function () {
        let detailPanel = $("#detail-panel");
        if (detailPanel.is(":hidden") || on_screen !== this.id)
            showDetailPanel(this.id);
        else
            hideDetailPanel();
    });

    function showDetailPanel(id) {
        on_screen = id;
        let actual_id = id.split("_")[2];
        update_panel_device_info(actual_id);
        update_panel_layer2(actual_id);
        update_panel_addresses(actual_id);
        update_panel_routes(actual_id);

        $("#detail-panel").show();
        document.getElementById('card-title').innerHTML = "Switch : " + $('#' + id).attr("data-pid");
        $("#content-div").addClass("col-9").removeClass("col-12");
    }

    function hideDetailPanel() {
        $("#detail-panel").hide();
        $("#content-div").addClass("col-12").removeClass("col-9");
    }

</script>
<!-- Layer 2 -->
<script>
    function add_port_info_item(id, tag, value) {
        $("#port-" + id).append(
            '<div class="input-group input-group-sm mb-3">\n' +
            '     <div class="input-group-prepend">\n' +
            '       <span class="input-group-text">' +
            tag +
            '       </span>\n' +
            '     </div>\n' +
            '     <span type="text" class="form-control _name non-editable">' +
            value +
            '     </span>\n' +
            '</div>'
        );
    }

    function add_port_info(id, mac, name, speed) {
        let portList = $("#panel_layer2_info");
        portList.append('' +
            '<li class="list-group-item list-group-item-action list-group-item-light active" style="margin: 5px">Port ' +
            id +
            '</li>\n' +
            '                    <li id="port-list" class="">' +
            '                        <div class="card-body" id="port-' +
            id +
            '">' +
            '</li>' +
            '');
        add_port_info_item(id, 'MAC', mac);
        add_port_info_item(id, 'Name', name);
        add_port_info_item(id, 'Speed', speed);
        portList.append('</div');
    }

    function update_panel_layer2(id) {
        document.getElementById("panel_layer2_info").innerHTML = "";
        let index_id = 0;
        $.each(layer2, function (index) {
            if (layer2[index].id == id)
                index_id = index;
        });
        $.each(layer2[index_id].port_data, function (id, port) {
            add_port_info(id, port.hw_addr, port.name, port.curr_speed);
        });

    }
</script>
<!-- Static Routes -->
<!-- Addresses -->
<script>
    function add_address(id, ip) {
        $("#address-list").append(
            '<form method="post">' +
            '{% csrf_token %}' +
            '<input type="text" name="switch_id" id="del-add-switch-id' +
            id +
            '" hidden>' +
            '<input type="text" name="action" value="DEL_ADDRESS" hidden>' +
            '<input type="text" name="address_id" value="' +
            id +
            '" hidden>' +
            '<div class="input-group input-group-sm mb-3">\n' +
            '     <div class="input-group-prepend">\n' +
            '       <span class="input-group-text">' +
            "ip-" +
            id +
            '       </span>\n' +
            '     </div>\n' +
            '     <span type="text" class="form-control _name non-editable">' +
            ip +
            '     </span>\n' +
            '<div class="input-group-append">\n' +
            '    <button type="submit" class="btn btn-primary btn-sm btn-danger"' +
            ' onclick="$(\'#del-add-switch-id' +
            id +
            '\').attr(\'value\', on_screen.split(\'_\')[2])">del</button>' +
            '  </div>' +
            '</div>' +
            '</form>'
        );
    }

    function update_panel_addresses(id) {
        document.getElementById("address-list").innerHTML = "";
        let index_id = 0;
        $.each(layer3, function (index) {
            if (layer3[index].switch_id == id)
                index_id = index;
        });
        console.log(layer3[index_id]);
        if (layer3[index_id].internal_network[0].address !== undefined) {
            $.each(layer3[index_id].internal_network[0].address, function (id, __address) {
                console.log(__address);
                add_address(__address.address_id, __address.address);
            });
        }

    }

    add_address('172.16.20.1');
    add_address('172.16.30.30');
</script>
<script>
    function add_static_route(id, destination, gateway) {
        $("#routes-list").append(
            '<form method="post">' +
            '{% csrf_token %}' +
            '<input type="text" name="switch_id" id="del-route-switch-id' +
            id +
            '" hidden>' +
            '<input type="text" name="action" value="DEL_STATIC_ROUTE" hidden>' +
            '<input type="text" name="route_id" value="' +
            id +
            '" hidden>' +
            '<div class="input-group input-group-sm">\n' +
            '     <div class="input-group-prepend">\n' +
            '       <span class="input-group-text">' +
            "dest" +
            '       </span>\n' +
            '     </div>\n' +
            '     <span type="text" class="form-control _name non-editable">' +
            destination +
            '     </span>\n' +
            '<div class="input-group input-group-sm mb-3">\n' +
            '     <div class="input-group-prepend">\n' +
            '       <span class="input-group-text">' +
            "gateway" +
            '       </span>\n' +
            '     </div>\n' +
            '     <span type="text" class="form-control _name non-editable">' +
            gateway +
            '     </span>\n' +
            '<div class="input-group-append">\n' +
            '<button type="submit" class="btn btn-primary btn-sm btn-danger"' +
            ' onclick="$(\'#del-route-switch-id' +
            id +
            '\').attr(\'value\', on_screen.split(\'_\')[2])">del</button>' +
            '  </div>' +
            '</div>' +
            '</form>'
        );
    }


    function update_panel_routes(id) {
        document.getElementById("routes-list").innerHTML = "";
        let index_id = 0;
        $.each(layer3, function (index) {
            if (layer3[index].switch_id == id)
                index_id = index;
        });
        console.log(layer3[index_id]);
        if (layer3[index_id].internal_network[0].route !== undefined) {
            $.each(layer3[index_id].internal_network[0].route, function (id, __route) {
                add_static_route(__route.route_id, __route.destination, __route.gateway)
            });
        }
    }
    add_static_route('172.16.20.0', 'x.x.x.x');
    add_static_route('172.16.30.0', 'x.x.x.x');
</script>
<script>
    $("#btn-submit-address").click(function () {
        
    })
</script>
{% block scripts %}
{% endblock %}
</body>
</html>