{% extends 'base.html' %}
{% load static %}

{% block environment %}
    <script>
        let devices = {};
        let layer2 = {{ layer2 | safe }};
        let layer3 = {{ layer3 | safe }};
        {% for device in devices %}
            devices[{{ device.id }}] = {{ device | safe }};
        {% endfor %}
    </script>
{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid" style="background-color: rgba(10,10,10,.50); color: white">
        <div class="container">
            <h1 class="display-4">Welcome to Redmote</h1>
            <p class="lead">Here is a listing of devices discovered by our SDN Scanner</p>
        </div>
    </div>
    <div class="album py-5" style="background-color: rgba(240,240,240,.2);">

        <div class="container-fluid " style="min-height:100%">
            <div class="row">
                {% for device in devices %}
                    <div id="_card_{{ device.id }}" class="col-md-4 device-card" data-pid="{{ device.id }}">
                        <div class="card mb-3 col-md-4" style="max-width: 540px;">
                            <div class="row">
                                <div class="col-md-4 d-flex justify-content-between flex-column bg-dark">
                                    <div class="row justify-content-center" style="width: 120%; padding: 40px">
                                        <img style="max-width: 70px; max-height: 70px"
                                             src="{% static "icons/layer2.png" %}" class="card-img" alt="...">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body" id="device_{{ device.id }}">
                                        <h5 class="card-title">Switch: {{ device.id }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>

        function insert_property(id, tag, value) {
            let device = "#device_" + id;
            $(device).append('' +
                '<div class="input-group input-group-sm mb-3">\n' +
                '    <div class="input-group-prepend">\n' +
                '        <span class="input-group-text">' +
                tag +
                '        </span>\n' +
                '    </div>\n' +
                '    <span type="text" class="form-control _name non-editable">\n' +
                value +
                '    </span>\n' +
                '</div>'
            );
        }
        console.log(devices);
        $.each(devices, function (id, device) {
            insert_property( device.id, 'Device Name', device.desc_data.dp_desc);
            insert_property( device.id, 'Software', device.desc_data.sw_desc);
            insert_property( device.id, 'Hardware', device.desc_data.hw_desc);
        });
    </script>
{% endblock %}