<!-- Modal -->
<div class="modal fade" id="modalRoute" tabindex="-1" role="dialog" aria-labelledby="modalRouteLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddressLabel">Add new static route</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="switch_id" id="modal-route-switch-id" hidden>
                    <input type="text" name="action" value="ADD_STATIC_ROUTE" hidden>
                    <div class="form-group">
                        <label for="inputDestination">Destination Network: </label>
                        <input type="text" class="form-control" id="inputDestination"
                               placeholder="Enter destination" name="destination" required>
                    </div>
                    <div class="form-group">
                        <label for="inputNextHop">Next Hop IP address: </label>
                        <input type="text" class="form-control" id="inputNextHop"
                               placeholder="Enter Next Hop IP Address" name="gateway" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="btn-submit-address"
                                onclick="$('#modal-route-switch-id').attr('value', on_screen.split('_')[2])">
                            Save changes
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>